.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 50.25px;
}

.container svg {
    margin-bottom: 11px;
    padding-top: 4px;
    transition: 0.15s;
}

.container svg:hover {
    /* transform: translate(0, -4px); */
    padding-top: 0;
    padding-bottom: 4px;
    cursor: pointer;
    color: #682AE9;
}

.vertLine {
    width: 2px;
    background-color: #0F1B61;
    height: 10vh;
    border-radius: 50px;
}




/* @keyframes dropInUp {
    to {
        display: initial;
        transform: translateY(0);
    }
} */







    /* color: #0F1B61; */

    /* color: rgb(255, 28, 247); */
    /* color: linear-gradient(rgb(255, 28, 247) 25%, rgb(178, 73, 248) 100%); */




    /* transform: translateY(10px);
    display: none;
    animation: dropInUp 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.05s forwards; */