.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 50.25px;

    opacity: 0;
    transform: translateY(10px);
    animation: dropInUp 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.05s forwards
}
    /* color: #0F1B61; */


/* https://stackoverflow.com/questions/24626908/how-to-get-rid-of-extra-space-below-svg-in-div-element */
.container svg {
    display: block;
}



.container a, .emailIcon {
    margin-bottom: 11px;
    padding-top: 4px;
    transition: 0.15s;
    color: black;
}
.emailIcon {
    position: relative; /* Makes the tooltip's nearest positioned ancestor this container */
    margin-bottom: 15px;
}
.container a:hover, .emailIcon:hover {
    /* transform: translate(0, -4px); */
    padding-top: 0;
    padding-bottom: 4px;
    cursor: pointer;
    color: #682AE9;
}

.vertLine {
    width: 2px;
    background-color: #0F1B61;
    height: 10vh;
    border-radius: 50px;
}

@keyframes dropInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tooltipContainer {
    position: absolute;
    top: -10.5px;
    left: -260px;
    opacity: 0;
    padding-right: 10px;
}
.tooltipEnter {
    opacity: 0;
}
.tooltipEnterActive {
    transition: all 150ms ease-out;
    opacity: 1;
    top: -14.5px;
}
.tooltipEnterDone {
    opacity: 1;
    top: -14.5px;
}
.tooltipExit {
    opacity: 1;
    top: -14.5px;
}
.tooltipExitActive {
    transition: all 150ms ease-out;
    opacity: 0;
    top: -10.5px;
}

.tooltipBox {
    padding: 12.5px 25px;
    border-radius: 8px;
    background-color: white;
    color: black;
    box-shadow: 0 0 0 1px rgba(0,0,0,.07),0 2px 4px rgba(0,0,0,.05);
}