.container {
    width: min(1200px, 100%);
    height: 100vh;
}

.title {
    margin-bottom: 20px;
}

.content {
    
}

.intro {
    margin-bottom: 80px;
}

.intro p {
    font-size: 18px;
    letter-spacing: -0.014px;
    line-height: 30px;
}


.courses {
    display: flex;
    justify-content: center;
}



.educationPageButton {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(9,30,66,0.25),0 0 1px 1px rgba(9,30,66,0.13);
    display: inline-block;
    /* width: initial; */
    height: fit-content;
    margin-top: 30px;

    display: flex;
    align-items: center;
    background:none;
    border:none;

    padding: 3px 10px;

    font-size: 16px;
    letter-spacing: -0.014px;
    line-height: 30px;
    
    cursor: pointer;
    user-select: none;


}



.testContainer {
    position: relative;
    margin-top: 50px;
}

.expand {
    /* height: 300px;
    width: 100%; */

    height: 40px;
    width: 40px;
    background: yellow;
    position: absolute;
}




.MyClassEnter {
    height: 40px;
    width: 40px;
}
.MyClassEnterActive {
    opacity: 1;
    height: 100%;
    /* width: fit-content;  */
    width: 100%;
    /* height: 300px; */
    transition: opacity 1000ms ease-in, height 1000ms ease-in, width 1000ms ease-in;
}
.MyClassEnterDone {
    height: 100%;
    width: 100%;
}
.MyClassExit {
    opacity: 1;
    height: 100%;
    /* width: fit-content; */
    width: 100%;
    /* height: 300px; */
}
.MyClassExitActive {
    /* opacity: 0; */
    height: 40px;
    width: 40px;
    transition: opacity 1000ms ease-in, height 1000ms ease-in, width 1000ms ease-in;
}





.bigBoi {
    /* min-height: 700px; */
    background-color: red;
    z-index: -99;
    width: 100%;
    position:relative;
}
















.box {
    background-color: white;
    box-shadow: 0 1px 1px rgba(9,30,66,0.25),0 0 1px 1px rgba(9,30,66,0.13);
    border-radius: 3px;

    width: initial;
    height: 300px;

    overflow: hidden;
}




.text {
    padding: 20px 30px;
}



















/* .MyClassEnter {
    opacity: 0;
    height: 0;
    width: 0;
}
.MyClassEnterActive {
    opacity: 1;
    height: fit-content;
    width: fit-content; 
    width: 100%;
    height: 300px;
    transition: opacity 1000ms ease-in, height 1000ms ease-in, width 1000ms ease-in;
}
.MyClassEnterDone {
    opacity: 1;
}
.MyClassExit {
    opacity: 1;
    height: fit-content;
    width: fit-content;
    width: 100%;
    height: 300px;
}
.MyClassExitActive {
    opacity: 0;
    height: 0;
    width: 0;
    transition: opacity 1000ms ease-in, height 1000ms ease-in, width 1000ms ease-in;
} */