.container {
    width: min(1200px, 100%);
    padding: 100px 0;
    /* height: 100vh; */
}

.title {
    margin-bottom: 20px;
}

.content {
    
}

.intro {
    margin-bottom: 40px;
}

.intro p {
    font-size: 18px;
    letter-spacing: -0.014px;
    line-height: 30px;
}


.courses {
    display: flex;
    justify-content: center;
}



.educationPageButton {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(9,30,66,0.25),0 0 1px 1px rgba(9,30,66,0.13);
    display: inline-block;
    /* width: initial; */
    height: fit-content;
    margin-top: 30px;

    display: flex;
    align-items: center;
    background:none;
    border:none;

    padding: 3px 10px;

    font-size: 16px;
    letter-spacing: -0.014px;
    line-height: 30px;
    
    cursor: pointer;
    user-select: none;
    

}





.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}






.eduModal {
    background-color: white;
    box-shadow: 0 1px 1px rgba(9,30,66,0.25),0 0 1px 1px rgba(9,30,66,0.13);
    border-radius: 3px;
    padding: 20px 30px;

    width: min(90%, 1200px);
}











