.container {
    width: min(1200px, 100%);
    height: 100vh;
}

.title {
    margin-bottom: 20px;
}

.content {
    
}

.intro {
    margin-bottom: 80px;
}

.intro p {
    font-size: 18px;
    letter-spacing: -0.014px;
    line-height: 30px;
}


.courses {
    display: flex;
    justify-content: center;
}



.educationPageButton {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(9,30,66,0.25),0 0 1px 1px rgba(9,30,66,0.13);
    display: inline-block;
    /* width: initial; */
    height: fit-content;
    margin-top: 30px;

    display: flex;
    align-items: center;
    background:none;
    border:none;

    padding: 3px 10px;

    font-size: 16px;
    letter-spacing: -0.014px;
    line-height: 30px;
    
    cursor: pointer;
    user-select: none;
    

}





.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.backdropEnter {
    opacity: 0;
}
.backdropEnterActive {
    opacity: 1;
    transition: opacity 100ms ease-in;
}
.backdropEnterDone {
    opacity: 1;
}
.backdropExit {
    opacity: 1;
}
.backdropExitActive {
    opacity: 0;
    transition: opacity 100ms ease-in;
}










.eduModal {
    background-color: white;
    box-shadow: 0 1px 1px rgba(9,30,66,0.25),0 0 1px 1px rgba(9,30,66,0.13);
    border-radius: 3px;
    padding: 20px 30px;

    width: min(90%, 1200px);

    /* position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center; */
}



.eduModalEnter {
    opacity: 0;
    transform: translateY(-20px);
}
.eduModalEnterActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}
.eduModalEnterDone {
    opacity: 1;
    transform: translateY(0);
}
.eduModalExit {
    opacity: 1;
    transform: translateY(0);
}
.eduModalExitActive {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}




















/* .MyClassEnter {
    opacity: 0;
    height: 0;
    width: 0;
}
.MyClassEnterActive {
    opacity: 1;
    height: fit-content;
    width: fit-content; 
    width: 100%;
    height: 300px;
    transition: opacity 1000ms ease-in, height 1000ms ease-in, width 1000ms ease-in;
}
.MyClassEnterDone {
    opacity: 1;
}
.MyClassExit {
    opacity: 1;
    height: fit-content;
    width: fit-content;
    width: 100%;
    height: 300px;
}
.MyClassExitActive {
    opacity: 0;
    height: 0;
    width: 0;
    transition: opacity 1000ms ease-in, height 1000ms ease-in, width 1000ms ease-in;
} */