.container {
    margin-top: 40px;
}

.cardContainer {
    padding: 10px 15px;
    background: rgb(255,255,255);
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.07),0 2px 4px rgba(0,0,0,.05);
    margin-bottom: 15px;
}

.name {
    margin-bottom: 15px;
}

.description {
    margin-bottom: 15px;
}

.description li {
    list-style: none;
    margin-top: 20px;
}

