.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: min(1200px, 100%);
    font-family: 'CascadiaCode',monospace;
    /* font-family: 'Fira Code',monospace; */
}

.flex {
    display: flex;
}





/* ************** need to redo the animations so they fill in for each span instead of each whole heading */


.nowrap {
    white-space: nowrap;
}

.name {
    background-image: linear-gradient(rgb(255, 28, 247) 25%, #682AE9 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

    white-space: nowrap;
}

.hello {
    font-size: clamp(10px, 6vw, 60px);
    position: relative;
    width: fit-content;
}

.hello::before, 
.hello::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hello::before {
    background-color: rgb(249,250,251);
    animation: cursor 3s steps(26) 1.5s forwards; 
}

.hello::after {
    width: 0.6em;
    background: black;
    animation: 
        cursor 3s steps(26) 1.5s forwards, 
        blink 1s linear infinite,
        remove 4.5s step-end 1s forwards;
}



.secondaryH1 {
    font-size: clamp(10px, 6vw, 60px);
    position: relative;
    width: fit-content;
}

.fullstack {
    background-image: linear-gradient(#F8EF42 25%, #ebe33c 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.secondaryH1::before, 
.secondaryH1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.secondaryH1::before {
    background-color: rgb(249,250,251);
    animation: cursor 3s steps(26) 6.5s forwards; 
}

.secondaryH1::after {
    width: 0.6em;
    background: black;
    visibility: hidden;
    opacity: 0;
    animation: 
        cursor 3s steps(26) 6.5s forwards, 
        reverseBlink 1s linear 5.5s infinite,
        remove 4.5s step-end 7s forwards,
        hidden 0s linear 5.5s forwards;
}







@keyframes cursor {
    to {left: 100%}
}
@keyframes blink {
   50% {
     opacity: 0;
   }
}
@keyframes reverseBlink {
    50% {
      opacity: 1;
    }
 }
@keyframes remove {
   to {
     opacity: 0;
   }
}
@keyframes hidden {
    to {visibility: inherit;}
}