.container {
    width: min(1200px, 100%);
}

.title {
    margin-bottom: 20px;
}

.content {
    
}

.intro {
    margin-bottom: 80px;
}

.intro p {
    font-size: 18px;
    letter-spacing: -0.014px;
    line-height: 30px;
}

.intro button {
    display: flex;
    align-items: center;
    background:none;
    border:none;
    margin-top: 20px;
    padding: 1px 5px;

    font-size: 16px;
    letter-spacing: -0.014px;
    line-height: 30px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(9,30,66,0.25),0 0 1px 1px rgba(9,30,66,0.13);
    cursor: pointer;
    user-select: none;
}

.intro button svg {
    margin-right: 4px;
}


.courses {
    display: flex;
    justify-content: center;
}

