.container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    position: absolute;
}

.navigation ul {
    display: flex;
    list-style: none;
}



.navigation a {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.navigation svg {
    margin-right: 10px;
}

.resume {
    display: flex;
    align-items: center;
}